.select-card-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stock-cards,
.selected-cards,
.card-preview {
    flex: 1;
    margin: 0 10px;
}